<div class="container">
  <h2>Add a new Restaurant!</h2>
  <%= simple_form_for @restaurant do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category, as: :radio_buttons, collection: ['chinese', 'italian', 'japanese', 'french', 'belgian'] %>
    <%= f.submit "add restaurant", class: "btn btn-primary" %>
  <% end %>
</div>
