<div class="container" style="margin-top: 20px">
    <h2 style="text-align: center">Add a New Restaurant!</h2>
    <div class="card" style="padding: 20px">
      <%= simple_form_for @restaurant do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :phone_number %>
        <%= f.input :category, as: :radio_buttons, collection: ['chinese', 'italian', 'japanese', 'french', 'belgian'] %>
        <%= f.submit "add restaurant", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
